.side-drawer{
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top:0;
    left:0;
    width:70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out
}
.side-drawer.open{
    transform: translateX(0)
}
.side-drawer ul li a{
    font-size: 20px;
}
.close{
  text-align: end;
font-size: 30px !important;
padding:.2rem;
}


