
.padding-top{
    padding-top: 10rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.email-bar{
    padding-top:2rem;
}
.leftFooterMenu{
    float: left;
    padding:0 25px;
    width: calc(60% - 25px * 2);

}
.rightFooterMenu{
    border-left: 1px solid #d4d4d4;
    float: right;
    padding: 1.5rem 25px;
    width: calc(40% - 25px * 2 - 1px);
}

.menuItem {
    font-size: 13px;
    font-family: HelveticaNeueW01-75Bold,sans-serif;
    font-weight: bold;
    display: block;
    padding-bottom: 1rem;
  
    
}
.menuItemPadding{
    padding-top:2rem;
    padding-left: 0 !important;
    
}
.bottomBoard{
    border-bottom: 1px solid #ccc;
    padding-left: 0 !important;
}
.listWrapper{
    padding-right: 12rem;
   
}
.rightBoard{
    border-left: 1px solid #ccc; 
padding-left: 2rem !important;
}
.bottomPadding{
    padding-bottom: 1rem;
}
.copyright{
    padding:1rem;
}