.wrapper{
    text-align: center;
    width: 100%;
    display: flex; 
    justify-content: space-around;
    padding-top: 4rem;
}
a{
    padding: 20px !important;
}

@media (max-width: 640px){
    .wrapper{
        display: none !important;
    }
}