
@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    src: local('HelveticaNeue'), url(./fonts/HelveticaNeueMedium.ttf) format('opentype');
  }

  



html{
    font-size: 12px;
}
html,

body{
    height: 100%;
    margin: 0;
    padding: 0;

}
*,::before,::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    line-height: 1.5;
    color: #1a1919;
    background-color: #fff;
    letter-spacing: 1px;
    font-family: HelveticaNeue,sans-serif !important;
    font-weight: 400;
    max-width: 100%;
}
a{
    text-decoration: none !important;
    color: black !important;
}
a, a:hover{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
ol, ul {
    list-style: none;
}
ul{
    padding-inline-start: 0;
}

header, div, li, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.modal-header{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
 border-bottom: 0 !important;
}
.modal-content{
border-radius: 0 !important;
}
.modal-body{
    padding: 4rem !important;
}
.form-control{
     border-radius: 0 !important;
     height: calc(2.5em + .75rem + 2px) !important;
}
.modal-title{
    margin-left: auto;
    font: inherit;
    font-size: 1.2rem !important;
    font-weight: bold !important;
}
.form-text{
    margin-bottom: 1rem;
}
.clientzone_title{
    margin-top: 1rem;
    font-size: 1.2rem !important;
    font-weight: bold !important;
}
.contact_us{
    padding: 4rem;
}
.searchbar{
    height: calc(1.5em + .75rem + 2px) !important;
 
    
}
.btn{
    border-radius: 0 !important;
}
.container{
    max-width: 1450px !important;
}
.list-group-item{
     border: 0 !important;
}

@media (max-width: 640px){
    .menu-bar{
        display: none !important;
    }
}