.hero {
    text-align: center;
}

.season-edition {
    width: 100%;
}

.collection {
    text-align: center;

}

.text-padding {

    padding-top: 2rem;
}

.icon {
    font-size: 20px;
}

.homeContainer{
    margin-top: 2rem;
}

@media (max-width: 640px) {
    .homeContainer{
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
   }